<div class="row">
    <div class="col-lg-12">
        <p> </p>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
    <div class="col-lg-12 col-sm-12">
        <div class="panel panel-default" style="border:0;margin-bottom:0;">

            <!--<div class="panel-heading">Timeline</div>-->
            <div class="panel-body" style="padding:0">
                <!--<canvas></canvas>-->
                <div id="timeline"></div>
            </div>
        </div>
    </div>
    <script src="bower_components/timelinejs/js/timeline.js"></script>
    <script>
        var timeline = new VCO.Timeline('timeline', 'bower_components/timelinejs/examples/welcome.json', {
            timenav_position: "top",
        });
    </script>
</div>
<div class="row col-lg-12" style="margin-top:10px;margin-left:12px;">
    <div class="col-lg-1 pull-right">

        <button type="button" class="btn btn-default btn-sm" aria-label="Add keywords" onclick="addKeywords()">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </button>

   </div>
    <div class="col-lg-3 pull-right">

        <div class="input-group input-group-sm">
            <input id="searchtextbox" type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
                    <button class="btn btn-default" onclick="searchProcess()" type="button">Go!</button>
                </span>
        </div>
        <!-- /input-group -->
    </div>
    <!-- /.col-lg-4 -->
    <div class="col-lg-1 pull-right">

        <span id="searchcriteriaremovespan" onclick="removesearchcriteriabutton()"></span>
    </div>

    <ul class="list-inline">
        <li class="list-group-item select_custom_v active" style="border-radius:5px; min-width:100px; text-align:center; padding:5px;" id="twitterTab" onclick="loadTabData('twitter');" ng-click="globalTab = 0">Twitter</li>
        <li class="list-group-item select_custom_v" style="border-radius:5px; min-width:100px; text-align:center; padding:5px;" id="newsTab" onclick="loadTabData('news');" ng-click="globalTab = 1">News</li>
        <li class="list-group-item select_custom_v" style="border-radius:5px; min-width:100px; text-align:center; padding:5px;" id="bothTab" onclick="loadTabData('both');" ng-click="globalTab = 2">Both</li>
    </ul>


</div>
<script type="text/javascript">
    function searchProcess() {

        var url = window.location.href
        var mode = "tweet";
            hashes = url.split("?")[1];
            hashes = hashes.split("#")[0];
            if(hashes.split("-")[1]){
                mode = hashes.split("-")[1];
                console.log("mode: "+mode);
            }
        var searchcriteria = document.getElementById('searchtextbox').value;
        window.location.search = '?' + searchcriteria + "-" + mode;
    }

    function removesearchcriteriabutton() {
        window.location.search = "";
    }
</script>

<div class="row col-lg-12">
    <div class="panel panel-default">
        <!--<div class="panel-heading">Rumours</div>-->
        <div class="panel-body" ng-init="globalTab=0;init()">

            <div class="col-sm-12" ng-controller="ChartCtrl" id="twitterchart" ng-if="globalTab == 0">

                <div class="col-sm-4" id="twitterreload">
                    <canvas id="twitterline customline-v" class="chart chart-line chart-xl" data="twitterline.data" labels="twitterline.labels" legend="true" click="twitterline.onClick" series="twitterline.series"></canvas>


                </div>





                <div class="col-sm-4 pre-scrollable" style="max-height:250px" id="rumourinfo" ng-controller="ChartCtrl">
                    <table class="table" id="lineTable-v">
                        <thead>
                            <tr>
                                <th>
                                    Top Users
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="rowContent in rows">
                                <td style="padding:0px;border-top:0;">{{rowContent._id}}</td>
                                <td style="padding:0px;border-top:0;">{{rowContent.count}}</td>
                                <!--<td>{{rowContent.count}}</td>-->
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="col-sm-4" id="rumourinfo" ng-controller="ChartCtrl">
                    <div class="row">
                        <div class="col-sm-9">
                            <h5>D. Marie</h5>
                            <p>@itsmepanda1</p>
                        </div>
                        <div class="col-sm-3 pull-right">
                            <!--<p>img here</p>-->
                            <img style="width:100%" src="bower_components/additions/profilepic.jpg">
                        </div>
                    </div>
                    <div class="row">
                        <p>Bio: <em>#America, forced medicine is #tyranny! If you value #freedom, stand against any attempts to remove vaccine exemptions. Vaccination is a medical prodedure!</em></p>
                        <p>Joined: <em>January 2011</em></p>
                    </div>
                </div>


            </div>

            <div class="col-sm-12" ng-controller="ChartCtrl" id="newschart" ng-if="globalTab == 1">
                <div class="col-sm-4">
                    <canvas id="newsline customline-v" class="chart chart-line chart-xl" data="newsline.data" labels="newsline.labels" legend="true" click="newsline.onClick" series="newsline.series"></canvas>
                </div>




            </div>

            <div class="col-sm-12" ng-controller="ChartCtrl" id="bothchart" ng-if="globalTab == 2">
                <div class="col-sm-4">
                    <canvas id="bothline customline-v" class="chart chart-line chart-xl" data="bothline.data" labels="bothline.labels" legend="true" click="bothline.onClick" series="bothline.series"></canvas>
                </div>




            </div>



        </div>
    </div>
</div>

<div class="row col-lg-12">
    <div class="panel panel-default">
        <!--<div class="panel-heading">Rumours</div>-->
        <div class="panel-body">
<ul class="list-inline">
        
<li class="list-group-item select_custom_v active" style="border-radius:5px; min-width:100px; text-align:center; padding:5px;" id="tweetgraphtab" onclick="loadGraphTab('tweet');" >Tweets</li>
        <li class="list-group-item select_custom_v" style="border-radius:5px; min-width:100px; text-align:center; padding:5px;" id="usergraphtab" onclick="loadGraphTab('user');" >Users</li>
        
    </ul>

            <div class="col-sm-12" ng-controller="ChartCtrl" style="height:500px;">

                     
                <div id="graphtitle" class="col-sm-3" style="border-bottom:1px solid #666; position:absolute; left:0; background:#FFF;">
                    <h4 id="graphtitlevalue">Top 1000 Tweets: General</h4></div>
           

                <div class="col-sm-12" id="network-graph">

                    <div id="container">
                        <style>
                            #graph-container {
                                top: 0;
                                bottom: 0;
                                left: 0;
                                right: 0;
                                position: absolute;
                                height: 500px;
                            }
                        </style>
                        <div id="graph-container"></div>
                    </div>

                    <!--<canvas id="network customnetwork-v" class="chart chart-line chart-xl" data="line.data" labels="line.labels" legend="true"
                    click="line.onClick" series="line.series"></canvas>-->
                </div>

                <div ng-mouseover="tweetData" class="col-sm-3" id="network-graph-info" style="border-left:1px solid #666; position:absolute; right:0; background:#FFF; max-height:500px; overflow:scroll;">
                    <!--<p><h3>Tweet info</h3></p>-->
                </div>




                <!-- <div class="col-sm-4 pre-scrollable" style="max-height:250px" id="toplinksinfo" ng-controller="ChartCtrl">
                    <table class="table" id="lineTable-v">
                        <thead>
                            <tr>
                                <th>
                                    Top Links
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="rowContent in rows">
                                <td style="padding:0px;border-top:0;">{{rowContent._id}}</td>
                                <td style="padding:0px;border-top:0;">{{rowContent.count}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div> -->


                <!--<div class="col-sm-4 pre-scrollable" style="max-height:250px" id="rumourinfo" ng-controller="ChartCtrl">
                    <table class="table" id="lineTable-v">
                        <thead>
                            <tr>
                                <th>
                                    Top Users
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="rowContent in rows">
                                <td style="padding:0px;border-top:0;">{{rowContent._id}}</td>
                                <td style="padding:0px;border-top:0;">{{rowContent.count}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="col-sm-4" id="rumourinfo" ng-controller="ChartCtrl">
                    <div class="row">
                        <div class="col-sm-9">
                            <h5>D. Marie</h5>
                            <p>@itsmepanda1</p>
                        </div>
                        <div class="col-sm-3 pull-right">
                            <img style="width:100%" src="bower_components/additions/profilepic.jpg">
                        </div>
                    </div>
                    <div class="row">
                        <p>Bio: <em>#America, forced medicine is #tyranny! If you value #freedom, stand against any attempts to remove vaccine exemptions. Vaccination is a medical prodedure!</em></p>
                        <p>Joined: <em>January 2011</em></p>
                    </div>
                </div>-->


            </div>


        </div>
    </div>
</div>

<div class="row col-lg-12">
    <div class="panel panel-default">
        <!--<div class="panel-heading">Rumours</div>-->
        <div class="panel-body">

            <div class="col-sm-12" ng-controller="ChartCtrl" style="height:250px;">
                <div class="col-sm-4 pre-scrollable" style="max-height:250px" id="toplinksinfo" ng-controller="ChartCtrl">
                    <table class="table" id="lineTable-v">
                        <thead>
                            <tr>
                                <th>
                                    Top Links
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr onclick="sendReq('http://t.co/ueqE5H09b9');">
                                <td >
                                    CDC Scientist: ‘We scheduled meeting to destroy...
                                    <!--https://t.co/ueqE5H09b9-->
                                </td>
                                <td >
                                    389
                                </td>
                            </tr>
                            <tr onclick="sendReq('http://t.co/YUZdXihFXh');">
                                <td >
                                    Posey CSPAN 7/29/15
                                </td>
                                <td >
                                    364
                                </td>
                            </tr>
                            <tr onclick="sendReq('http://t.co/lKfcemnsei');">
                                <td >
                                    Mr Posey | Video
                                </td>
                                <td >
                                    329
                                </td>
                            </tr>
                            <tr onclick="sendReq('http://t.co/86sAqE8U00');">
                                <td >
                                    REVEALED: Cancer industry profits 'locked in'...
                                </td>
                                <td >
                                    209
                                </td>
                            </tr>
                            <tr onclick="sendReq('http://t.co/52iRcjF9ns');">
                                <td >
                                    Mr Posey | Video
                                </td>
                                <td >
                                    198
                                </td>
                            </tr>
                            <tr onclick="sendReq('http://t.co/TNr6DCkR2k');">
                                <td >
                                    CONGRESSMAN POESY DELIVERS BOMBSHE...
                                </td>
                                <td >
                                    185
                                </td>
                            </tr>
                            <tr onclick="sendReq('http://t.co/nviSACNLKY');">
                                <td >
                                    Mr Posey | Video
                                </td>
                                <td >
                                    176
                                </td>
                            </tr>
                            <tr onclick="sendReq('https://t.co/G5OiweFSos');">
                                <td >
                                    CDC Scientist: ‘We scheduled meeting to destroy...
                                </td>
                                <td >
                                    160
                                </td>
                            </tr>
                            <tr onclick="sendReq('http://t.co/Ge1e86sQgi');">
                                <td >
                                    Posey CSPAN 7/29/15
                                </td>
                                <td >
                                    121
                                </td>
                            </tr>
                            <tr onclick="sendReq('http://t.co/jLM6rf2zH4');">
                                <td >
                                    Mr Posey | Video
                                </td>
                                <td >
                                    103
                                </td>
                            </tr>


                        </tbody>
                    </table>
                </div>
                <div class="col-sm-8 pre-scrollable" id="linkDisplayWidget" style="height:100%">
                    <!--testing div-->
                </div>
            </div>
        </div>
    </div>
</div>


<!--<div class="row">

    <div class="col-lg-4 col-sm-12" id="line-chart" ng-controller="ChartCtrl">
        <div class="panel panel-default">
            <div class="panel-heading">Rumours</div>
            <div class="panel-body">
                <canvas id="line" class="chart chart-line chart-xl" data="line.data" labels="line.labels" legend="true"
                click="line.onClick" series="line.series"></canvas>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-12" id="rumourinfo" ng-controller="ChartCtrl">
        <div class="panel panel-default">
            <div class="panel-heading">Rumour information</div>
            <div class="panel-body">

            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-12" id="rumourinfo" ng-controller="ChartCtrl">
        <div class="panel panel-default">
            <div class="panel-heading">Rumour information</div>
            <div class="panel-body">

            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4 col-sm-12" id="bar-chart" ng-controller="ChartCtrl">
        <div class="panel panel-default">
            <div class="panel-heading">Bar Chart / Other analysis</div>
            <div class="panel-body">
                <canvas id="bar" class="chart chart-bar" data="bar.data" labels="bar.labels" series="bar.series"
                options="bar.options"></canvas>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-12" id="bar-chart" ng-controller="ChartCtrl">
        <div class="panel panel-default">
            <div class="panel-heading">Bar Chart / Other analysis</div>
            <div class="panel-body">
                <canvas id="bar" class="chart chart-bar" data="bar.data" labels="bar.labels" series="bar.series"
                options="bar.options"></canvas>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-12" id="doughnut-chart" ng-controller="ChartCtrl">
        <div class="panel panel-default">
            <div class="panel-heading">Doughnut Chart</div>
            <div class="panel-body">
                <canvas id="doughnut" class="chart chart-doughnut chart-xs" data="donut.data" labels="donut.labels" legend="false"></canvas>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4 col-sm-12" id="radar-chart" ng-controller="ChartCtrl">
        <div class="panel panel-default">
            <div class="panel-heading">Radar Chart</div>
            <div class="panel-body">
                <canvas id="area" class="chart chart-radar" data="radar.data" labels="radar.labels" click="onClick"></canvas>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-12" id="pie-chart" ng-controller="ChartCtrl">
        <div class="panel panel-default">
            <div class="panel-heading">Pie Chart</div>
            <div class="panel-body">
                <canvas id="pie" class="chart chart-pie chart-xs" data="pie.data" labels="pie.labels"></canvas>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-12" id="polar area-chart" ng-controller="ChartCtrl">
      <div class="panel panel-default">
        <div class="panel-heading">Polar Area Chart</div>
        <div class="panel-body">
          <canvas id="polar" class="chart chart-polar-area" data="polar.data" labels="polar.labels"></canvas>
      </div>
  </div>
</div>
</div>
<div class="row">
    <div class="col-lg-4 col-sm-12" id="base-chart" ng-controller="ChartCtrl">
        <div class="panel panel-default">
            <div class="panel-heading">Dynamic Chart</div>
            <div class="panel-body">
                <canvas id="base" class="chart chart-base" chart-type="dynamic.type" data="dynamic.data" labels="dynamic.labels" legend="true"></canvas>
            </div>
        </div>
        <button type="button" class="btn btn-primary pull-right" ng-click="dynamic.toggle()">Toggle</button>
    </div>
    <div class="col-lg-4 col-sm-12" id="base-chart" ng-controller="ChartCtrl">
        <div class="panel panel-default">
            <div class="panel-heading">Dynamic Chart</div>
            <div class="panel-body">
                <canvas id="base" class="chart chart-base" chart-type="dynamic.type" data="dynamic.data" labels="dynamic.labels" legend="true"></canvas>
            </div>
        </div>
        <button type="button" class="btn btn-primary pull-right" ng-click="dynamic.toggle()">Toggle</button>
    </div>
    <div class="col-lg-4 col-sm-12" id="base-chart" ng-controller="ChartCtrl">
        <div class="panel panel-default">
            <div class="panel-heading">Dynamic Chart</div>
            <div class="panel-body">
                <canvas id="base" class="chart chart-base" chart-type="dynamic.type" data="dynamic.data" labels="dynamic.labels" legend="true"></canvas>
            </div>
        </div>
        <button type="button" class="btn btn-primary pull-right" ng-click="dynamic.toggle()">Toggle</button>
    </div>
</div> -->


<script type="text/javascript">


function addKeywords(){
        /*vex.dialog.confirm({
          message: 'Are you absolutely sure you want to destroy the alien planet?',
          callback: function(value) {
            return console.log(value ? 'Successfully destroyed the planet.' : 'Chicken.');
          }
        });*/


        $.getJSON("../api/keywords/vaccination/get", function(result) {
            console.log(result[0].value);

            var keywordslist = "";
            var entered = false;
            for (keyword in result[0].value){
                if(entered){
                    keywordslist += ", "+result[0].value[keyword];
                }else{
                    keywordslist += result[0].value[keyword];
                    entered = true;
                }
            }

            var todayDateString;

            todayDateString = new Date().toJSON().slice(0, 10);

            vex.dialog.open({
              message: '<h3>Keywords</h3>',
              input: "<div>\n    <label for=\"addkeyword\">Amend keywords:</label>\n    <div>\n        <input name=\"keywords\" type=\"text\" value=\"" + keywordslist + "\" />\n    </div>\n</div>\n",
              callback: function(data) {
                if (data === false) {
                  return console.log('Cancelled');
                }else{
                    return $.getJSON("../api/keywords/vaccination/post/"+JSON.stringify(data.keywords) , function(result) {console.log("request to update sent with result: "+result)});
                    //return console.log(data.keywords);

                }
                //console.log('Date', data.date, 'Color', data.color);
                //return $('.demo-result-custom-vex-dialog').show().html("<h4>Result</h4>\n<p>\n    Date: <b>" + data.date + "</b><br/>\n    Color: <input type=\"color\" value=\"" + data.color + "\" readonly />\n</p>");
              }
            });
        });

        
    }

    /**
     * This is a basic example on how to instantiate sigma. A random graph is
     * generated and stored in the "graph" variable, and then sigma is instantiated
     * directly with the graph.
     *
     * The simple instance of sigma is enough to make it render the graph on the on
     * the screen, since the graph is given directly to the constructor.
     */


    /*Section for custom graph code (twitter analysis)*/

    //calculate number of nodes and edges first of all ( on each row -> if retweeted exists then add 2 nodes otherwise only add 1 node)

    //calc number of edges (on each row -> if retweeted then add one, otherwise dont add an edge.)

    //calculate the list of nodes and edges before counting the number of nodes and edges. (remove duplicate nodes / edges)



    //end
    var i,
        s,
        N = 10,
        E = 50,
        g = {};


    $(document).ready(function() {
        var hashes;
        var mode = "tweet";

        try {
            var url = window.location.href
            hashes = url.split("?")[1];
            hashes = hashes.split("#")[0];
            if(hashes.split("-")[1]){
                mode = hashes.split("-")[1];
                console.log("mode: "+mode);
            }

            if(mode == "user"){
                document.getElementById('tweetgraphtab').classList.remove('active');
                document.getElementById('usergraphtab').classList.add('active');
                document.getElementById('graphtitlevalue').innerHTML = "Top 1000 Users: General";
            }else if (mode == "tweet"){
                document.getElementById('usergraphtab').classList.remove('active');
                document.getElementById('tweetgraphtab').classList.add('active');
            }

            hashes = hashes.split("-")[0];
            //console.log("mode: "+hashes);

            

        } catch (e) {
            hashes = "";
        }

        if (hashes == "") {
            hashes = "generic";
        } else {
            document.getElementById('graphtitle').innerHTML = "<h5>Top 1000 "+mode+"s on '" + hashes + "'</h5>"

            document.getElementById('searchcriteriaremovespan').innerHTML = "<button type='button' class='btn btn-default btn-xs' > " + hashes + " <span class='glyphicon glyphicon-remove'></span></button>";


        }


        console.log("vars0: " + JSON.stringify(hashes));
        loadTabData("twitter");

        $.getJSON("../api/network" + mode + "graph/" + hashes, function(result) {
            var g = result;
            console.log(g);
            //var mode = "user";

            if (mode == "user") {

                // Instantiate sigma:
                var s = new sigma({
                    graph: g,
                    renderer: {
                        container: document.getElementById('graph-container'),
                        type: 'canvas'
                    },
                    settings: {
                        doubleClickEnabled: true,
                        /*minEdgeSize: 0.5,
                        maxEdgeSize: 4,*/
                        enableEdgeHovering: true,
                        edgeHoverColor: 'edge',
                        defaultEdgeHoverColor: '#000',
                        edgeHoverSizeRatio: 2,
                        edgeHoverExtremities: true,
                    }
                });


                s.graph.edges().forEach(function(e) { //might be double size cause of multiple checking or might not be because both updating independently...?
                    var edgecount = 0;
                    s.graph.edges().forEach(function(f) {
                        if (parseInt(f.source) == parseInt(e.source) && parseInt(f.target) == parseInt(e.target)) {
                            edgecount++;
                        }
                    });
                    console.log(edgecount + "duplicate edge detected :)")

                    e.size = edgecount;
                });
                s.refresh();


                // Instantiate sigma:
                /*s = new sigma({
                  graph: g,
                  container: 'graph-container',
                });*/

                /*s.graph.nodes().forEach(function(n) {
                  n.originalColor = n.color;
                });
                s.graph.edges().forEach(function(e) {
                  e.originalColor = e.color;
                });*/

                sigma.plugins.relativeSize(s, 1);
                /*sigma.classes.graph.addMethod('neighbors', function(nodeId) {
                    var k,
                    neighbors = {},
                    index = this.allNeighborsIndex[nodeId] || {};

                    for (k in index)
                      neighbors[k] = this.nodesIndex[k];

                    return neighbors;
                });*/
                s.startForceAtlas2({
                    linLogMode: false,
                    barnesHutOptimize: false,
                    gravity: 1
                });


                setTimeout(function() {
                    s.stopForceAtlas2();
                }, 7500);




                s.bind('clickNode', function(e) {
                  console.log(e.type, e.data.node, e.data.captor);
                  

                });
                s.bind('clickEdge', function(e) {
                    var tweetsText = "";
                    var edgecount = 0;
                    s.graph.edges().forEach(function(f) {
                        if (parseInt(f.source) == parseInt(e.data.edge.source) && parseInt(f.target) == parseInt(e.data.edge.target)) {
                            tweetsText += "<h5>" + f.timestamp + "</h5><p>" + f.text + "</p>";
                            edgecount++;
                        }
                    });
                    //console.log(edgecount + "duplicate edge detected :)")

                    e.data.edge.size = edgecount;
                    console.log(e.type, e.data.edge, e.data.captor);
                    document.getElementById('network-graph-info').innerHTML = "<p><h4><strong>@" + e.data.edge.targetName + "</strong> retweeted <strong>@" + e.data.edge.sourceName + "</strong>'s tweet:</h4></p> " + tweetsText /*tweet data here*/ /*e.data.edge.text*/ ;
                    //$scope.tweetData = e.data.node.edge.label;
                });



                /*s.bind('clickStage', function(e) {
                  s.graph.nodes().forEach(function(n) {
                    n.color = n.originalColor;
                  });

                  s.graph.edges().forEach(function(e) {
                    e.color = e.originalColor;
                  });

                  // Same as in the previous event:
                  s.refresh();
                });*/


                //s.bind('overNode outNode clickNode doubleClickNode rightClickNode', function(e) {
                //s.bind('clickEdge', function(e) {
                //  console.log(e.type, e.data.edge, e.data.captor);
                //document.getElementById('network-graph-info').innerHTML = "<p><h3>@"+e.data.edge+"</h3></p><p> " + /*tweet data here*/ /*e.data.edge.text*/ + "</p>"
                //$scope.tweetData = e.data.node.label;
                //});

                /*s.graph.edges().forEach(function(e) {
                    e.type = 'parallel';
                    });
                */
            } else if (mode == "tweet") {
                // Instantiate sigma:
                s = new sigma({
                    graph: g,
                    container: 'graph-container'
                });
                //sigma.plugins.relativeSize(s, 1);
                s.startForceAtlas2({
                    linLogMode: false,
                    barnesHutOptimize: false,
                    gravity: 2
                });
                setTimeout(function() {
                    s.stopForceAtlas2();
                }, 7500);
                //s.bind('overNode outNode clickNode doubleClickNode rightClickNode', function(e) {
                s.bind('clickNode', function(e) {
                    //hardcoded profile info for when damonayoung is clicked.
                    if(e.data.node.username == "damonayoung"){
                        document.getElementById('network-graph-info').innerHTML = "<p><h3>@" + e.data.node.username + "</h3></p><div class='col-sm-4 pull-right'><img style='width:100%'' src='https://pbs.twimg.com/profile_images/550169850899734528/CHb6FeiV.jpeg'></div><p>Bio: <em>Philosopher/author. New: Voltaire's Vine (Random House), How to Think About Exercise (Picador/Macmillan). For kids: My Pop is a Pirate/My Nanna is a Ninja.</em></p><p> " + /*tweet data here*/ e.data.node.text + "</p>"
                    }else{
                        console.log(e.type, e.data.node.label, e.data.captor, e.data.node.label);
                        document.getElementById('network-graph-info').innerHTML = "<p><h3>@" + e.data.node.username + "</h3></p><p> " + /*tweet data here*/ e.data.node.text + "</p>"
                            //$scope.tweetData = e.data.node.label;
                    }
                });
            }
        });
    });



    function createRequestObject() {
        var obj;
        var browser = navigator.appName;
        if (browser == "Microsoft Internet Explorer") {
            obj = new ActiveXObject("Microsoft.XMLHTTP");
        } else {
            obj = new XMLHttpRequest();
        }
        return obj;
    }

    function sendReq(req) {


        document.getElementById('linkDisplayWidget').innerHTML = "<iframe id='extFrame' src='" + req + "' style='height:100%;width:100%;'></iframe>";


        /*var http = createRequestObject();
        http.open('get', req);
        http.onreadystatechange = handleResponse;
        http.send(null);)*/
    }

    function handleResponse() {
        if (http.readyState == 4) {
            var response = http.responseText;
            document.getElementById('linkDisplayWidget').innerHTML = response;
        }
    }

    function loadTabData(selection) {
        console.log(selection);
        if (selection === "twitter" || selection === "news" || selection === "both") {
            document.getElementById('twitterTab').classList.remove('active');
            document.getElementById('newsTab').classList.remove('active');
            document.getElementById('bothTab').classList.remove('active');
            document.getElementById(selection + "Tab").classList.add('active');

            //if(selection === "twitter"){
            //document.getElementById('twitterchart').style.display = 'inline-block';
            //document.getElementById('newschart').style.display = 'none';
            //$scope.globalTab = 0;
            //}else if (selection === "news"){
            //document.getElementById('twitterchart').style.display = 'none';
            //document.getElementById('newschart').style.display = 'inline-block';
            //$scope.globalTab = 1;

            //}else if (selection === "both"){
            //$scope.globalTab = 2;
            //}
            //document.getElementById('line-chart').innerHTML = '<canvas id="twitterline customline-v" class="chart chart-line chart-xl" data="twitterline.data" labels="twitterline.labels" legend="true" click="twitterline.onClick" series="twitterline.series"></canvas>';


            //refreshLineGraph(selection);
        }
    }
    function loadGraphTab(selection) {
        console.log(selection);
        if (selection === "tweet" || selection === "user"){
            document.getElementById('tweetgraphtab').classList.remove('active');
            document.getElementById('usergraphtab').classList.remove('active');
            document.getElementById(selection+'graphtab').classList.add('active');
            window.location.search = '?-'+selection;

        }
    }
    /*function refreshLineGraph(globalTab) {


        if (globalTab === 0) {
            document.getElementById('line-chart').innerHTML = "<canvas id='twitterline customline-v' class='chart chart-line chart-xl' data='twitterline.data' labels='twitterline.labels' legend='true' click='twitterline.onClick' series='twitterline.series'></canvas>";
        } else if (globalTab === 1) {
            document.getElementById('line-chart').innerHTML = "";
        }; else if (globalTab === 2) {
            document.getElementById('line-chart').innerHTML = "<canvas id='bothline customline-v' class='chart chart-line chart-xl' data='bothline.data' labels='bothline.labels' legend='true' click='bothline.onClick' series='bothline.series'></canvas>";
        };
    }*/




    //var mainTimeline = new VCO.Timeline('mainTimeline', 'bower_components/timelinejs/data.json', options);
    /*window.onresize = function(event) {
        timeline.updateDisplay();
    }*/
</script>